*{
    transition: all 0.3s ease;
}

/* Navbar */
.navbar {
    background-color: #ffffff !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: 700;
    color: #007bff !important;
    font-size: 1.4rem;
    cursor: pointer;
}

.navbar-nav .nav-link {
    color: #333 !important;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer;
}

/* Highlight selected tab with underline */
.nav-link:hover {
    color: #007bff !important;
    border-bottom: 3px solid #007bff;
    padding-bottom: 5px;
    font-weight: 600;
}




.qaCard:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-color: lightblue;
}
.qaCard:active{
    background-color: #007bff;
}

section {
    display: none;
    padding-top: 120px;
    text-align: center;
    min-height: 100vh;
}

section.active {
    display: block;
}

/* Footer */
footer {
    background: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
}
